<%- include('_head'); %>
<%- include('_header'); %>

<body>
    <div class="inner-div">
        <h1>Artists</h1>
        <div class="list-div" id="artist-list">
            
        </div>
    </div>
    <div class="inner-div">
        <h1>Add a artist</h1>

        <form id="addartist-form">
            <input type="text" id="firstname" placeholder="Firstname">
            <input type="text" id="lastname" placeholder="Lastname">
            <input type="text" id="artistname" placeholder="Artistname">
            <input type="submit" value="Save">
        </form>
    </div>

</body>

<%- include('_script'); %>
