<%- include('_head'); %>

<body>
    <h1 id="welcome"><%= linktitle %></h1>


    <div class="inner-div">
        <div class="link-object">
            <img src="/assets/img/logo.png">
            <a href="<%= youtube %>"></a>
        </div>
    </div> 
</body>
