<!DOCTYPE html>
<html lang="en">
 <%- include('_head'); %>

<body>
    <%- include('_header_blank');%>
    <h1 id="auth-header">Please login</h1>

    <div class="inner-div">
        <form id="login-form">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Login"></input>
        </form>
    </div>
</body>
</html>

<%- include('_script'); %>

