<!DOCTYPE html>
<html lang="en">
 <%- include('_head'); %>

<body>
    <%- include('_header_blank');%>
        <form id="login-form" class="auth-form">
            <h1 id="auth-header">Please login</h1>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Login"></input>
        </form>
</body>
</html>

<%- include('_script'); %>

