<!DOCTYPE html>
<html lang="en">
 <%- include('_head'); %>

<body>
    <%- include('_header_blank');%>
    <div>
        <form id="register-form" class="auth-form">
            <h1 id="auth-header">Please register</h1>
            <input type="text" name="firstname" id="firstname" placeholder="Firstname">
            <input type="text" name="lastname" id="lastname" placeholder="Lastname">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="E-mail Adress">
            <input type="password" name="password" id="password1" placeholder="Password">
            <input type="password" name="confirm" id="password2" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>

<%- include('_script'); %>

