body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.remove-artist-btn, .remove-link-btn{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100%);
    margin-bottom: 15px;
}
.edit-link-btn{
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    display: block;
}
header{
    background-color: #f2f2f2;
    padding: 5px 15px ;
    width: calc(100% - 30px);
    border-bottom: 1px solid black;
    display: inline-block;
}
header img{
    margin-top: 15px;
    height: 48px;
    float: left;
    margin-right: 16px;
}
header h1, header a{
    float: left;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

#welcome{
    text-align: center;
}

header a{
    margin-top: 29px;
    font-size: 18px;
}
#auth-header{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}
.inner-div{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.inner-div form, .list-div {
    width: calc(100% - 62px);
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 25px 30px;
    margin-top: 15px;
    margin-bottom: 35px;
}

#login-form input[type="text"], #login-form input[type="password"]{
    width: calc(100% - 22px);
}
.inner-div form input, .inner-div select{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.inner-div form input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.inner-div{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 50%;
    margin: 0 auto;
}

/*error handeling */

#main-error-div{
    top: 0;
    right: 0;
    position: fixed;
    width: 50%;
}
#main-error-div div{
    width: calc(100% - 40px);
    background-color: white;
    padding: 12px 20px;
    border-bottom: 1px solid black;
}

#main-error-div p {
    color: white;
    font-weight: bold;
    padding: 8px;
    margin: 0px;
}

.list-div div{
    width: calc(100% - 40px);
    background-color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 25px;
}

/*link*/

.link-objects a[href=""],.link-object a[href="#"] {
    display: none;
  }

  .link-object{
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
  }



  @media screen and (max-width: 578px) {
    .inner-div{
        width: 90%;
    }

    header h1{
        display: none;
    }
  }
    


